In [1]:
import pandas as pd
import numpy as np
import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
books= pd.read_csv('Books.csv')

In [3]:
users= pd.read_csv('Users.csv')

In [4]:
ratings= pd.read_csv('Ratings.csv')

In [5]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [6]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [7]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [8]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [9]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [12]:
x= books.duplicated().sum()
y= ratings.duplicated().sum()
z= users.duplicated().sum()
print(x,y,z)

0 0 0

Observations 
From above we get to know that data is almost clean. We have null only in Age column of users that will not be needed.
And along with this we don't have duplicates. 
In books dataset, we have 6 nulls so we will discard those. Also that won't affect too much but still we will remove.

In [13]:
books= books.dropna()

In [14]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [17]:
books.reset_index(inplace=True)
books

,level_0,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...,...,...
271349,271349,271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271350,271350,271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271351,271351,271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271352,271352,271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271353,271353,271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [18]:
books.drop(columns=["level_0","index","Image-URL-S","Image-URL-M","Image-URL-L"],inplace=True)
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271349,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271350,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271351,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271352,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271353,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

# Popularity Based Recommendation system

In [19]:
ratings_new = ratings.merge(books,on='ISBN')

In [20]:
ratings_new

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
...,...,...,...,...,...,...,...
1031124,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub
1031125,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation
1031126,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple
1031127,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA
1031128,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing

In [22]:
num_rating_df = ratings_new.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241061                                      Ãƒ?Ã‚?lpiraten.            2
241062                     Ãƒ?Ã‚?rger mit Produkt X. Roman.            4
241063                                Ãƒ?Ã‚?sterlich leben.            1
241064                              Ãƒ?Ã‚?stlich der Berge.            3
241065                                  Ãƒ?Ã‚?thique en toc            2

[241066 rows x 2 columns]

In [23]:
avg_rating_df = ratings_new.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241061                                      Ãƒ?Ã‚?lpiraten.    0.000000
241062                     Ãƒ?Ã‚?rger mit Produkt X. Roman.    5.250000
241063                                Ãƒ?Ã‚?sterlich leben.    7.000000
241064                              Ãƒ?Ã‚?stlich der Berge.    2.666667
241065                                  Ãƒ?Ã‚?thique en toc    4.000000

[241066 rows x 2 columns]

In [24]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241061,Ãƒ?Ã‚?lpiraten.,2,0.000000
241062,Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,5.250000
241063,Ãƒ?Ã‚?sterlich leben.,1,7.000000
241064,Ãƒ?Ã‚?stlich der Berge.,3,2.666667
241065,Ãƒ?Ã‚?thique en toc,2,4.000000

In [25]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [26]:
popular_df

,Book-Title,num_ratings,avg_rating
80432,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80420,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80439,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80424,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80412,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191608,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187373,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80443,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211380,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219737,To Kill a Mockingbird,510,4.700000
183569,The Da Vinci Code,898,4.642539
187876,The Five People You Meet in Heaven,430,4.551163
180553,The Catcher in the Rye,449,4.545657
196322,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144162,Prodigal Summer: A Novel,253,4.450593
128668,Neverwhere,265,4.449057
206498,The Secret Life of Bees,774,4.447028
168716,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223131,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204383,The Red Tent (Bestselling Backlist),723,4.334716
191585,The Hitchhiker's Guide to the Galaxy,268,4.328358
129377,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93379,Into the Wild,252,4.273810
63865,Fahrenheit 451,409,4.264059
74748,Girl with a Pearl Earring,526,4.218631
136143,Outlander,283,4.173145
233365,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156099,Seabiscuit: An American Legend,275,4.098182
107960,Life of Pi,664,4.088855
176842,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76341,Good in Bed,490,4.055102
64929,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161642,Skipping Christmas,322,4.006211
105775,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189547,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181676,The Color Purple,314,3.964968
160333,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158135,Seven Up (A Stephanie Plum Novel),278,3.888489
175094,The Alchemist: A Fable About Following Your Dream,266,3.875940
80067,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170098,Suzanne's Diary for Nicholas,457,3.820569
111071,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212066,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233846,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [28]:
# for most viewed option
most_viewed = num_rating_df.sort_values('num_ratings', ascending=False).head(50)

In [29]:
most_viewed

                                               Book-Title  num_ratings
234946                                        Wild Animus         2502
196322                          The Lovely Bones: A Novel         1295
183569                                  The Da Vinci Code          898
5303                                      A Painted House          838
199233                         The Nanny Diaries: A Novel          828
27922                               Bridget Jones's Diary          815
206498                            The Secret Life of Bees          774
52981     Divine Secrets of the Ya-Ya Sisterhood: A Novel          740
204383                The Red Tent (Bestselling Backlist)          723
14392                                 Angels &amp; Demons          670
107960                                         Life of Pi          664
162648                             Snow Falling on Cedars          662
209294                                        The Summons          655
200249                                       The Notebook          650
210060                                      The Testament          617
85955                               House of Sand and Fog          588
233365  Where the Heart Is (Oprah's Book Club (Paperba...          585
201688                                  The Pelican Brief          581
80443   Harry Potter and the Sorcerer's Stone (Harry P...          575
169198                                     Summer Sisters          573
189262            The Girls' Guide to Hunting and Fishing          573
187698                                           The Firm          569
202240                         The Pilot's Wife : A Novel          568
80412    Harry Potter and the Chamber of Secrets (Book 2)          556
179271                                       The Brethren          556
193424                                  The Joy Luck Club          555
219345                                           Timeline          552
6980                                       A Time to Kill          549
209113                                  The Street Lawyer          545
74748                           Girl with a Pearl Earring          526
205519                                   The Runaway Jury          520
219737                              To Kill a Mockingbird          510
818                                   1st to Die: A Novel          509
180734                                        The Chamber          509
93208                          Interview with the Vampire          508
191820                                The Horse Whisperer          507
203996                                      The Rainmaker          501
119578                                Message in a Bottle          496
202546                      The Poisonwood Bible: A Novel          494
223131  Tuesdays with Morrie: An Old Man, a Young Man,...          493
76341                                         Good in Bed          490
97765                                       Jurassic Park          488
181389                                         The Client          483
55356                                        Dreamcatcher          481
201468                                        The Partner          478
79827                                            Hannibal          468
159298              She's Come Undone (Oprah's Book Club)          468
204149                                         The Reader          466
193877                                  The King of Torts          458
118235                             Me Talk Pretty One Day          457

# Collaborative Filtering Based Recommender System (USER BASED )

In [44]:
# extracting users which gave 200+ ratings and it means they are regular users
x = ratings_new.groupby('User-ID').count()['Book-Rating'] > 200
reg_user = x[x].index

In [45]:
filtered_rating = ratings_new[ratings_new['User-ID'].isin(reg_user)]

In [46]:
# extracting books that have received more than 50 ratings and it means those are famous ones
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [47]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [48]:
# creating a pivot table that will have Book-title as index and user-id as columns and book rating as values
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity_scores = cosine_similarity(pt)
similarity_scores.shape

(706, 706)

In [83]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index == book_name)[0][0]
    
    # sorting out top 4 similarity scores
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        book_titles = ['{} by {}'.format(title, author) for title, author in zip(temp_df.drop_duplicates('Book-Title')['Book-Title'].values, temp_df.drop_duplicates('Book-Title')['Book-Author'].values)]
        item.extend(book_titles)
        
        data.append(item)
    
    # Printing the books similar to the specified book
    print(f"Books similar to {book_name} are:")
    for item in data:
        print(item)

In [86]:
# recommending a book by taking input
bk= input("Enter book name\n")

Enter book name
1984

In [87]:
recommend(bk)

Books similar to 1984 are:
['Animal Farm by George Orwell']
["The Handmaid's Tale by Margaret Atwood"]
['Brave New World by Aldous Huxley']
['The Vampire Lestat (Vampire Chronicles, Book II) by ANNE RICE']